<!--
//===============================================================================
// Microsoft FastTrack for Azure
// Azure Search OCR Files Example
//===============================================================================
// Copyright © Microsoft Corporation.  All rights reserved.
// THIS CODE AND INFORMATION IS PROVIDED "AS IS" WITHOUT WARRANTY
// OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT
// LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
// FITNESS FOR A PARTICULAR PURPOSE.
//===============================================================================
-->
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">JFK Files</h1>
    <div class="row" style="margin-top:20px">
        <div class="col-md-12">
            @Html.ActionLink("Search JFK Files", "AdvancedSearch", "Home", new { }, new { @class = "btn btn-lg btn-primary" })
        </div>
    </div>
</div>
